*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(73, 240, 143);
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
div label,input,select{
    display: block;
    margin: 5px;
    padding: 5px;
    font-size: 1.2em;
    background-color: rgb(207, 105, 105);
}
form{
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 10px;
    background-color: rgb(207, 105, 105);
}
div input,select{
    width: 100%;
    box-sizing: border-box;
    margin: auto;
    font-size: 1em;
}div input{
    border-width: 0;
    border-bottom: 1px solid black;
}
div select{
    border-width: 0;
}
div button{
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    border-width: 0;
    background-color: rgb(67, 108, 197);
}
.button{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}